body {
	text-align: center;
	vertical-align: middle;
	background: url("kitchen2.jpg");
	background-size: cover;
	font-family: Courier;
}

h1 {
	color: white;
	font-weight: 600;
}

p {
	color: white;
	font-weight: 400;
}



