body {
	text-align: center;
	vertical-align: middle;
	background-color: #cdd2de;
	font-family: "American Typewriter", serif;
}

h1 {
	font-size: 42px;
	color: #28304c;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	color: #28304c;
	font-weight: 600;
}

h3 {
	text-align: left;
	font-size: 18px;
	color: #28304c;
	font-weight: 600;
}

p {
	margin-left: 30px;
	text-align: left;
	font-size: 16px;
	color: #28304c;
	font-weight: 400;
}

ul {
	margin-left: 30px;
	text-align: left;
	font-size: 16px;
	color: #28304c;
	font-weight: 400;
}

hr {
	border: 2px solid #28304c;
	width: 50%;
}

a {
	color: #ee6592;
	text-decoration: none;
}